<!-- your html code here -->
<div class="container d-flex align-items-center">
    <div class="flex-row-reverse">
    <div class="justify-content-end">
        <img src="https://images.pexels.com/photos/6664421/pexels-photo-6664421.jpeg"
            class="img-fluid me-3 rounded-circle float-end" alt="" style="max-width: 300px;">
    </div>
    <div>
        <h1>Bienvenidos a La Panaderia de Eva<span class="text-secondary"> La casa del pan fresco y delicioso</span>
        </h1>
        <p>Nos apasionamos por crear pan y productos de repostería de alta calidad, utilizando ingredientes frescos y
            naturales. Nuestro objetivo es ofrecer a nuestros clientes un lugar acogedor y un servicio excepcional,
            donde puedan disfrutar de un delicioso desayuno, un café con amigos o un regalo especial para alguien
            querido.</p>
    </div>
    </div>
</div>