<!-- your html code here -->
<div class="container bg-light p-1">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-start bold">Portfolio</h1>
            <p class="text-start">
                Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                Praesent commodo cursus
                magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            </p>

            <!-- DIV 3 CARDS -->
            <div class="row">
                <!--CARD1-->
                <div class="col-md-4 mb-6">
                    <div class="card">
                        <img class="img-cards" src="..\website\assets\img\big-project-image.png">
                        <div class="card-body">
                            <h5 class="card-title text-primary"><strong>Projet Name</strong></h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nam viverra euismod odio, gravida pellentesque urna
                                varius vitae.</p>
                        </div>
                    </div>
                </div>

                <!--CARD2-->
                <div class="col-md-4 mb-6">
                    <div class="card">
                        <img class="img-cards" src="..\website\assets\img\big-project-image.png">
                        <div class="card-body">
                            <h5 class="card-title text-primary"><strong>Projet Name</strong></h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nam viverra euismod odio, gravida pellentesque urna
                                varius vitae.</p>
                        </div>
                    </div>
                </div>

                <!--CARD3-->
                <div class="col-md-4 mb-6">
                    <div class="card">
                        <img class="img-cards" src="..\website\assets\img\big-project-image.png">
                        <div class="card-body">
                            <h5 class="card-title text-primary"><strong>Projet Name</strong></h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nam viverra euismod odio, gravida pellentesque urna
                                varius vitae.</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>