<!-- your html code here -->
<div class="container px-4 py-4">
    <div class="row" style="background-color: #BDBDBD">
        <div class="col-md-12">
            <h1 class="text-start bold">Portfolio</h1>
            <p class="text-start">
                Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                Praesent commodo cursus
                magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            </p>

            <!-- DIV 3 CARDS -->
            <div class="row">
                <!--CARD1-->
                <div class="col-md-4 mb-6">
                    <div class="card">
                        <img class="img-cards" style="height: 400px; object-fit: cover;" src="https://i.pinimg.com/736x/32/5c/ff/325cff33a4ed1d703fe740f796ee33ed.jpg">
                        <div class="card-body">
                            <h5 class="card-title text-primary"><strong>Mouse X</strong></h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nam viverra euismod odio, gravida pellentesque urna
                                varius vitae.</p>
                        </div>
                    </div>
                </div>

                <!--CARD2-->
                <div class="col-md-4 mb-6">
                    <div class="card">
                        <img class="img-cards" style="height: 400px; object-fit: cover;" src="https://i.pinimg.com/1200x/d5/b0/65/d5b0650f1c9831c47d2703f0d5563480.jpg">
                        <div class="card-body">
                            <h5 class="card-title text-primary"><strong>Hamnster Cowboy</strong></h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nam viverra euismod odio, gravida pellentesque urna
                                varius vitae.</p>
                        </div>
                    </div>
                </div>

                <!--CARD3-->
                <div class="col-md-4 mb-6">
                    <div class="card">
                        <img class="img-cards" style="height: 400px; object-fit: cover;" src="https://i.pinimg.com/1200x/10/a8/d1/10a8d14fa4ab30da82846984b4f497c1.jpg">
                        <div class="card-body">
                            <h5 class="card-title text-primary"><strong>Mr. Bombastic Fantastic</strong></h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nam viverra euismod odio, gravida pellentesque urna
                                varius vitae.</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>