<!-- your html code here -->
<div class="container d-flex align-items-center">
    <div>
        <img src="https://images.pexels.com/photos/21207660/pexels-photo-21207660.jpeg"
            class="img-fluid me-3 rounded-circle" alt="" style="max-width: 300px;">
    </div>
    <div>
        <h1>Te ofrecemos <span class="text-secondary">Productos de alta calidad</span>
        </h1>
        <ul class="item">
            <li class="item">Panes artesanales: pan francés, pan integral, pan de centeno, etc.
            </li>
            <li class="item">Pasteles y tartas: tortas de cumpleaños, tartas de frutas, pasteles de
                chocolate, etc.</li>
            <li class="item">Dulces y golosinas: galletas, brownies, cupcakes, etc.
            </li>
        </ul>

    </div>
</div>